@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    color: black;
    background-color: #eee;
}
/****** scrollbar ******/
    /* width */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
    /* Track */
::-webkit-scrollbar-track {
    background: #eee;
}
    /* Handle */
::-webkit-scrollbar-thumb {
    background: #BABBC4;
}
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1a1a1d;
}
/***** finished scrollbar *****/

.side-text {
    writing-mode: vertical-rl;
}
.side-icon{
    text-orientation: upright;
    writing-mode: vertical-lr;
}
.not-show{
    opacity: 0;
}
.show{
    animation: fadeUp 3s linear;
    opacity: 1;
}
.showed{
    left: 0;
}
.to-up{
    opacity: 0;
    transform: translateY(50px);
}
.to-up-show{
    animation: toUp 1000ms linear;
    transform: translateY(0);
    opacity: 1;
}
.menu-bar{
    overflow: hidden;
}
/* animates */
@keyframes toUp {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeUp {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes loadingBar {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 500% 0;
    }
}
/* loader */
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}
.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: #C62128;
    transform: rotateY(70deg);
    animation-delay: .4s;
}
.loader:before{
    color: #eee;
}
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0 0 0 currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0 currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0 -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}
/* comments box */
.comment-form{
    position: relative;
    left: 100%;
}
.comment-form-in {
    position: relative;
    left: 0;
    animation: is-out-in 3s linear;
}
.comment-form-out{
    position: relative;
    left: 100%;
    animation: is-in-out 3s linear;
}
@keyframes is-in-out {
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}
@keyframes is-out-in {
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}