@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    color: black;
    background-color: #eee;
}
/****** scrollbar ******/
    /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 0;
}
    /* Track */
::-webkit-scrollbar-track {
    background: #eee;
}
    /* Handle */
::-webkit-scrollbar-thumb {
    background: #BABBC4;
}
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1a1a1d;
}
/***** finished scrollbar *****/

.side-text {
    writing-mode: vertical-rl;
}
.side-icon{
    text-orientation: upright;
    writing-mode: vertical-lr;
}
.not-show{
    opacity: 0;
}
.show{
    animation: fadeUp 3s linear;
    opacity: 1;
}
.showed{
    left: 0;
}
.to-up{
    opacity: 0;
    transform: translateY(50px);
}
.to-up-show{
    animation: toUp 1000ms linear;
    transform: translateY(0);
    opacity: 1;
}
.menu-bar{
    overflow: hidden;
}
/* animates */
@keyframes toUp {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeUp {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes loadingBar {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 500% 0;
    }
}
/* loader */
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}
.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: #C62128;
    transform: rotateY(70deg);
    animation-delay: .4s;
}
.loader:before{
    color: #eee;
}
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0 0 0 currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0 currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0 -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}
/* comments box */
.comment-form{
    position: relative;
    left: 100%;
}
.comment-form-in {
    position: relative;
    left: 0;
    animation: is-out-in 3s linear;
}
.comment-form-out{
    position: relative;
    left: 100%;
    animation: is-in-out 3s linear;
}
@keyframes is-in-out {
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}
@keyframes is-out-in {
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}

@layer components{
    .title{
        @apply text-primary dark:text-white text-[2rem] font-bold;
    }
    .title-mid{
        @apply text-[2rem] my-4;
    }
    .description{
        @apply h-max text-[#888] my-2 text-justify leading-8 px-4;
    }
    .description strong{
        @apply text-primary dark:text-blue-500;
    }
    .description code{
        @apply text-blue-500 bg-[#00000022] dark:bg-[#ffffff22] p-1 rounded-md;
    }
    .code {
        @apply flex w-max text-[14px] text-white dark:text-primary bg-[#00000055] dark:bg-[#ffffff22]
        rounded-md p-2 my-4;
    }
    /*home > description*/

    .home-description-icon{
        @apply text-black hover:text-[#1EEB31] dark:text-secondary dark:hover:text-third transition-all duration-500
    }
    /*aboutus > article*/

    .aboutus{
        @apply grid place-items-center place-content-center mt-8 w-full h-max gap-8
        grid-rows-[minmax(15rem,20rem)_minmax(15rem,20rem)_minmax(15rem,20rem)]
        grid-cols-[minmax(10rem,20rem)]
        sm:grid-rows-2 sm:grid-cols-2
        md:grid-rows-2 md:grid-cols-[minmax(10rem,15rem)_minmax(10rem,15rem)]
        lg:grid-cols-[minmax(10rem,15rem)_minmax(10rem,15rem)_minmax(10rem,15rem)] lg:grid-rows-1
        text-justify
    }
    .aboutus-article{
        @apply flex flex-col w-full h-full rounded-md;
    }
    .aboutus-article-title{
        @apply text-white text-center font-bold text-2xl p-4 md:p-4;
    }
    .aboutus-article-text {
        @apply h-full text-black text-sm bg-white p-4 m-1 rounded-b-md dark:text-white dark:bg-primary  md:p-4;
    }
    /*aboutus > skills*/
    .aboutus-skills-icon{
        @apply w-8 h-max transition-all duration-300 dark:text-secondary
    }

    /*services > card*/
    .services-card-selector-right{
        @apply w-4 h-full bg-white border-r-1 border-primary duration-500 transition-all
        group-hover/cart:bg-gradient-to-br group-hover/cart:from-[#FE5858] group-hover/cart:to-[#EE9617]
        dark:bg-secondary
    }
    .services-card-selector-left{
        @apply w-4 h-full bg-white border-l-1 border-primary duration-500 transition-all
        group-hover/cart:bg-gradient-to-br group-hover/cart:from-[#FE5858] group-hover/cart:to-[#EE9617]
        dark:bg-secondary
    }
}